<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.my_jubgging">
    <!-- Jaewoo Added For Linking With Spring Boot -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- SeungYeop Added For Kakao Api 인터넷 연결확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".auth.Login"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Jubgging"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MyProfile"
            android:exported="false" />
        <activity
            android:name=".auth.AddressAPI"
            android:exported="false" />
        <activity
            android:name=".auth.SignUp"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d4f06e73b7dccf835b06f39a7ee398ab" />
    </application>

</manifest>